In [128]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [129]:
whale_csvpath = Path("../pandas-homework/homework-csvfiles/whale_returns.csv")
algo_csvpath = Path("../pandas-homework/homework-csvfiles/algo_returns.csv")
sp500_csvpath = Path("../pandas-homework/homework-csvfiles/sp500_history.csv")

In [130]:
whale_df = pd.read_csv(whale_csvpath, index_col="Date", infer_datetime_format=True, parse_dates=True)
whale_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [131]:
whale_df.isnull().sum()

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [132]:
whale_df.dropna(inplace=True)
whale_df.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [133]:
algo_df = pd.read_csv(algo_csvpath, index_col="Date", infer_datetime_format=True, parse_dates=True)
algo_df.head()

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN
2014-06-02  0.005692     NaN
2014-06-03  0.005292     NaN

In [134]:
algo_df.isnull().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [135]:
algo_df.dropna(inplace=True)
algo_df.isnull().sum()

Algo 1    0
Algo 2    0
dtype: int64

In [136]:
algo_df.head()

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761

In [137]:
sp500_df = pd.read_csv(sp500_csvpath, index_col="Date", infer_datetime_format=True, parse_dates=True)
sp500_df.head()

               Close
Date
2019-04-23  $2933.68
2019-04-22  $2907.97
2019-04-18  $2905.03
2019-04-17  $2900.45
2019-04-16  $2907.06

In [138]:
sp500_df['Close'] = sp500_df['Close'].str.replace('$', '')
sp500_df['Close'] = sp500_df['Close'].astype('float')

In [139]:
sp500_df.head()

              Close
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06

In [142]:
sp500_df_returns = sp500_df.pct_change()
sp500_df_returns.head()

               Close
Date
2019-04-23       NaN
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279

In [144]:
sp500_df_returns.dropna(inplace=True)
sp500_df_returns.head()

               Close
Date
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279
2019-04-15 -0.000509

In [150]:
sp500_df_returns.rename(columns={
    "Close":"S&P 500"
},inplace=True)
sp500_df_returns.head()

             S&P 500
Date
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279
2019-04-15 -0.000509

In [152]:
concat_df = pd.concat([whale_df, algo_df, sp500_df_returns ], axis="columns", join="inner")
concat_df

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,S&P 500
Date,,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949,0.004408
2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416,-0.001195
2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323,0.014378
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460,-0.003929
2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303,0.017254
2015-03-10,-0.010263,-0.005341,-0.012079,-0.009739,-0.001392,-0.012155,0.001921
2015-03-11,0.004012,0.005163,0.003312,-0.001147,0.002994,0.000605,-0.012445
2015-03-12,0.008265,0.010272,0.013117,0.010801,-0.002935,0.011667,0.006112
2015-03-13,-0.002497,-0.001428,-0.003697,-0.008142,-0.005423,-0.005062,-0.013353
2015-03-16,0.007901,0.003583,0.007953,0.008055,-0.003395,0.004117,0.003331
2015-03-17,0.002142,0.002928,-0.000687,0.000384,-0.002822,0.001274,-0.012012
2015-03-18,0.009603,0.007513,0.009557,0.007854,0.014429,0.006269,0.004896
2015-03-19,-0.000778,-0.002554,-0.002925,0.002363,-0.017888,0.000829,-0.008932
2015-03-20,0.009657,0.000983,0.007391,0.007105,0.003834,0.004404,0.001749
2015-03-23,-0.000067,-0.000513,-0.000109,0.000591,0.015172,0.001519,0.006177
2015-03-24,-0.002571,-0.004808,-0.003321,-0.001013,0.008758,-0.000885,0.014774
2015-03-25,-0.006156,-0.008018,-0.011172,-0.014567,0.012464,-0.016862,0.002383
2015-03-26,-0.002098,-0.000593,-0.001035,-0.001212,0.003446,-0.001979,-0.002363
2015-03-27,-0.000075,0.002088,0.002190,0.004776,0.001016,0.005187,-0.012089
2015-03-30,0.008113,0.002220,0.008617,0.005228,0.004635,0.008232,0.008874
2015-03-31,-0.005445,-0.003021,-0.003968,0.001858,0.002325,-0.003281,0.003981
2015-04-01,0.000919,0.000157,-0.002002,-0.003865,-0.002956,0.003005,-0.003517
2015-04-02,0.002561,0.004299,0.003058,0.001966,0.000881,0.004874,-0.006565
2015-04-06,0.005368,0.003763,0.004631,0.004920,-0.003298,0.006362,0.002066
2015-04-07,-0.001243,-0.000171,-0.002060,0.001882,0.001992,-0.002593,-0.002675
2015-04-08,0.006185,0.012652,0.003452,0.012352,0.006402,0.003734,-0.004438
2015-04-09,0.004036,0.003232,-0.000453,-0.001905,-0.005503,-0.001346,-0.005176
2015-04-10,-0.000090,0.001230,0.002386,0.001661,0.005130,0.005076,0.004602
2015-04-13,-0.003448,-0.002766,-0.004072,-0.003074,-0.003856,-0.001441,-0.001627
2015-04-14,0.003393,0.002021,0.002142,0.007516,0.000789,0.003274,-0.005122
...,...,...,...,...,...,...,...
2019-03-11,0.015435,0.005009,0.005324,0.019401,0.000069,0.012871,-0.002945
2019-03-12,-0.000180,0.003514,-0.002001,0.001199,0.004394,0.002797,-0.006902
2019-03-13,0.002724,-0.001074,0.010082,0.001127,-0.006889,0.003847,0.000869
2019-03-14,-0.000275,0.001952,-0.006597,-0.008241,-0.010810,0.007894,-0.004960
2019-03-15,0.003264,0.003948,0.005449,0.005083,0.001960,0.003873,-0.003692
2019-03-18,0.006692,-0.000263,-0.000292,0.002991,0.003461,0.013356,0.000131
2019-03-19,0.000154,0.002040,0.005608,0.011596,-0.002133,-0.000504,0.002953
2019-03-20,-0.004683,-0.004472,-0.007399,-0.000404,-0.009167,0.001009,-0.010736
2019-03-21,0.015109,0.004746,0.018898,0.013333,0.000035,0.004714,0.019342
2019-03-22,-0.017664,-0.013698,-0.016745,-0.028230,0.002514,-0.020949,0.000840
2019-03-25,-0.003330,-0.000420,0.000972,0.010737,0.000973,-0.002058,-0.007132
2019-03-26,0.004387,0.005641,0.009190,0.005378,0.005455,0.005614,0.004666
2019-03-27,-0.003994,-0.007321,-0.004278,-0.006041,0.008395,-0.004457,-0.003577
2019-03-28,0.003216,-0.006963,0.005932,0.005964,0.009932,0.005775,-0.006689
2019-03-29,0.001392,0.003030,-0.001277,0.012783,-0.000868,0.004576,-0.011436
2019-04-01,0.009000,0.010073,0.003972,0.013182,0.008159,0.007257,-0.000017
2019-04-02,0.000193,-0.005619,-0.006623,0.001152,0.003776,-0.000413,-0.002144
2019-04-03,0.003562,0.001305,0.005193,0.003252,-0.003337,0.000287,-0.002080
2019-04-04,0.001255,0.010630,0.008459,-0.008037,-0.003597,0.003265,-0.004615
2019-04-05,0.006880,0.006484,0.009357,0.006128,0.001519,0.009306,-0.001046
2019-04-08,0.000483,-0.000310,0.000153,0.000841,0.003761,0.000218,0.006105
2019-04-09,-0.005657,-0.004396,-0.006536,-0.002497,0.012012,-0.011639,-0.003466
2019-04-10,0.009808,0.008366,0.002912,0.005269,-0.004221,0.009632,-0.000038
2019-04-11,0.003406,-0.003959,-0.000637,-0.000496,0.001705,-0.001568,-0.006566
2019-04-12,0.005663,-0.001165,0.004217,0.007316,-0.005501,0.004504,0.000630
2019-04-15,-0.001422,-0.001156,0.000398,-0.010492,-0.004331,-0.004572,-0.000509
2019-04-16,0.002699,0.000388,-0.000831,0.000837,-0.006945,0.002899,0.002279
2019-04-17,-0.002897,-0.006467,-0.004409,0.003222,-0.010301,-0.005228,-0.001577
2019-04-18,0.001448,0.001222,0.000582,0.001916,-0.000588,-0.001229,-0.001011
2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088,0.000677,-0.001936,-0.008764